body {
  background-color: #1f2122;
  margin: 0;
  font-family: Arial, sans-serif;
}

p {
  color: white;
}

h1 {
  color: white;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.alert{
  color: white;
}

.container-fluid{
  background-color: #230505;
  color: white;
}

a{
  color: red;
}
